<h1>New task</h1>
<%= hidden_field_tag Time.zone = current_user.time_zone %>
<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="textarea">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :due_date %><br>
    <%= hidden_field_tag due_date = DateTime.now.in_time_zone(current_user.time_zone) %>
    <%= f.text_field :due_date, :value => due_date.strftime('%d-%m-%Y  %H:%M'), :id => 'datetimepicker', :readonly => 'readonly' %>    
    <script type="text/javascript">
      $('#datetimepicker').datetimepicker({
      });
    </script>
  </div>
  <div class="form-control">
    <%= f.label "Reschedule" %>
    <%= f.select(:sticky, options_for_select({"Fixed" => 2, "Push 1 Day" => 1, "Push 1 Week" => 0}, @task.sticky), :prompt => "Choose", :value => 0) %>
   </div>  
  <%= f.hidden_field :progress, :value => 'NotStarted' %> 
  <div class="form-control">
    <%= f.label "Goal" %>
  <%= f.select(:goal_id, [["==None==", 0]] + Goal.where(:user_id => current_user).collect {|goal| [ goal.description, goal.id ] }) %>    
  </div> 
  <br><br>    
  <div class="actions">
    <%= f.submit "Create Task", class: "btn btn-primary btn-med" %>
  </div>
<% end %>