<h1>I need to do...</h1>

<br>
<% if user_signed_in? %>
<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <%= link_to '', new_task_path, class: "glyphicon glyphicon-plus" %>
    Tasks      
  </div>
  <table class="table table-condensed table-hover">
    <col>
    <col>
    <col width="20">
    <col width="20">    
    <thead>
      <tr>
        <th>Description</th>
        <th>Due date</th>        
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @tasks.each do |task| %>        
        <% if task.user == current_user %>
          <tr>
          <td>
            <%= link_to edit_task_path(task) do %>
            <%= task.description %>
            <% end %>
          </td>
          <td><%= task.dueDate %></td>        
          <td>
              <% if task.progress == 'NotStarted' %>
                <%= image_tag("redProgress.png", :alt => "Not Started") %>
              <% elsif task.progress == 'NeedsWork' %>
                <%= image_tag("yellowProgress.png", :alt => "Needs Work") %>
              <% elsif task.progress == 'OnTrack' %>
                <%= image_tag("greenProgress.png", :alt => "On Track") %>
              <% else %>
                <span class="glyphicon glyphicon-ok"></span>                                        
              <% end %>   
          </td>             
          <td>
            <%= link_to task, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-trash"></span>
            <% end %>
          </td> 
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>
