<h1>I need to do...</h1>

<br>
<% if user_signed_in? %>

<div class="panel panel-primary">
  <div class="panel-heading">    
   Tasks
  <div class="btn-group pull-right">
    <%= link_to '', new_task_path, class: "glyphicon glyphicon-plus" %>
  </div>
  </div>
  <table class="table table-condensed table-hover">
    <col width="20">
    <col>
    <col>
    <col>
    <col width="40">  
    <thead>
      <tr>
        <th></th>
        <th>Description</th>
        <th>Due date</th> 
        <th>Days Left</th>       
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @tasks.each do |task| %>        
        <% if task.user == current_user %>
        <tr> 
          <td>
              <% if task.progress == 0 %>
                <%= image_tag("redProgress3.png", :alt => "Not Started") %>
              <% elsif task.progress == 1 %>
                <%= image_tag("yellowProgress3.png", :alt => "Needs Work") %>
              <% elsif task.progress == 2 %>
                <%= image_tag("greenProgress3.png", :alt => "On Track") %>
              <% else %>
                <span class="glyphicon glyphicon-ok"></span>                              
              <% end %> 
          </td>                       
          <td>
            <%= link_to edit_task_path(task) do %>
              <% if task.progress == 3 %>
                <div class="strikeout"><%= task.description %></div>
              <% else %>
                <%= task.description %>
              <% end %>
            <% end %>
          </td>
          <td>
            <%= task.dueDate.strftime("%A %B %d") %>
          </td>   
          <td>
              <% if task.progress == 3 %>
                Done!
              <% elsif  ((DateTime.parse(task.dueDate.strftime("%A %B %d"))).mjd - DateTime.now.mjd) < 0 %>
                Due
              <% elsif  ((DateTime.parse(task.dueDate.strftime("%A %B %d"))).mjd - DateTime.now.mjd) == 0 %>
                Today
              <% elsif  ((DateTime.parse(task.dueDate.strftime("%A %B %d"))).mjd - DateTime.now.mjd) == 1 %>
                Tomorrow
              <% else %>
              <%= ((DateTime.parse(task.dueDate.strftime("%A %B %d"))).mjd - DateTime.now.mjd) %>
              <% end %>
          </td>                              
          <td>
            <%= link_to task, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-trash"></span>
            <% end %>
          </td> 
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>
