<h1>Listing tasks</h1>
      <div class="form-group">
        <%= link_to 'New Task', new_task_path, class: "btn btn-primary" %>
      </div>


<br>
<% if user_signed_in? %>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Tasks</div>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Description</th>
        <th>Due date</th>        
        <th>Progress</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @tasks.each do |task| %>        
        <% if task.user == current_user %>
          <tr>
          <td><%= task.description %></td>
          <td><%= task.dueDate %></td>
          <td><%= task.progress %></td>             
          <td>
            <%= link_to edit_task_path(task) do %>
            <span class="glyphicon glyphicon-edit"></span>
              Edit
            <% end %>
          </td> 
          <td>
            <%= link_to task, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>
          </td> 
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>
