<%= image_tag("bannergoals.png", :alt => "Design") %>
<h1 style="position:relative; top:-70px" >I need to do...
</h1>
<br>
<% if user_signed_in? %>
<%= hidden_field_tag Time.zone = current_user.time_zone %>
<div class="panel panel-primary">
  <div class="panel-heading">    
   Tasks
  <div class="btn-group pull-right">
    <%= link_to '', new_task_path, class: "glyphicon glyphicon-plus" %>
  </div>
  </div>
  <table class="table table-condensed table-hover">
    <col width="40">
    <col>
    <col>
    <col>
    <col width="40">  
    <thead>
      <tr>
        <th></th>
        <th>Description</th>
        <th>Due date (d/m/y)</th>
        <th>Days Left</th>       
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @tasks.each do |task| %>        
        <% if task.user == current_user %>
        <tr> 
          <td>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <% if task.progress == 0 %>
                <%= image_tag("redProgress3.png", :alt => "Not Started") %>
              <% elsif task.progress == 1 %>
                <%= image_tag("yellowProgress3.png", :alt => "Needs Work") %>
              <% elsif task.progress == 2 %>
                <%= image_tag("greenProgress3.png", :alt => "On Track") %>
              <% else %>
                <%= image_tag("greenProgress3.png", :alt => "Completed") %>                                
              <% end %> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <%= link_to ''.html_safe, {:action => 'progress_down_action', :id =>task.id}, class: 'glyphicon glyphicon-chevron-left' %>
              <% if task.progress == 0 %>
                Not Started
              <% elsif task.progress == 1 %>
                Needs Work
              <% elsif task.progress == 2 %>
                On Track
              <% else %>
                Complete                             
              <% end %>
            <%= link_to ''.html_safe, {:action => 'progress_up_action', :id =>task.id}, class: 'glyphicon glyphicon-chevron-right' %>
          </ul>
        </div>
          </td>                       
          <td>
            <%= link_to edit_task_path(task) do %>
              <% if task.progress == 3 %>
                <div class="strikeout"><%= task.description %></div>
              <% else %>
                <%= task.description %>
              <% end %>
            <% end %>
          </td>
          <td>
            <%= task.due_date.strftime('%d-%m-%Y  %H:%M') %>
          </td>            
          <td>
            <% if task.progress == 3 %>
              <div class ="green daysleft">Done!</div>
            <% elsif  ((DateTime.parse(task.due_date.strftime("%A %B %d"))).mjd - DateTime.now.mjd) < 0 %>
              <div class ="red daysleft">Due</div>
            <% elsif  ((DateTime.parse(task.due_date.strftime("%A %B %d"))).mjd - DateTime.now.mjd) == 0 %>
              <div class ="red daysleft">Today</div>
            <% elsif  ((DateTime.parse(task.due_date.strftime("%A %B %d"))).mjd - DateTime.now.mjd) == 1 %>
              <div class ="amber daysleft">Tomorrow</div>
            <% else %><div class ="daysleft">
              <%= ((DateTime.parse(task.due_date.strftime("%A %B %d"))).mjd - DateTime.now.mjd) %></div>
            <% end %>
          </td>                              
          <td>
            <%= link_to task, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-trash"></span>
            <% end %>
          </td> 
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
</div>
<% end %>
