<h1>New task</h1>

<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, :size => "30x4"  %>
  </div>
  <div class="field">
    <%= f.label :dueDate %><br>
    <%= f.text_field :dueDate, 'data-behaviour' => 'datepicker' %>
    <!-- todo: write below as coffee script -->
    <script type="text/javascript">
      $(document).on("focus", "[data-behaviour~='datepicker']", function(e){
          $(this).datepicker({"format": "yyyy-mm-dd", "weekStart": 1, "autoclose": true, "startDate" : @task.dueDate})
      });
    </script>
  </div>
  <%= f.hidden_field :progress, :value => 'NotStarted' %> 
  <div class="actions">
    <%= f.submit "Create Task", class: "btn btn-primary btn-med" %>
  </div>
<% end %>

<p>
    <%= link_to "Back", tasks_path, class: "btn btn-default btn-med" %>
</p>

