<%= image_tag("bannergoals.png", :alt => "Design") %>
<h1 style="position:relative; top:-70px" >I want to...
</h1>
<div style="position:relative; top:-120px;"> <%= link_to "New Goal", new_goal_path, class: "btn btn-primary btn-med pull-right" %></div>

<% if user_signed_in? %>

<% @goals.each do |goal| %>
  <% if goal.user == current_user %> 
    <div class="panel panel-primary">
       <div class="panel-heading">

            <%= link_to edit_goal_path(goal) do %>
                <%= goal.description %>
            <% end %>
        <div class="btn-group">    
          <% goal_progress = goal.getProgress %>
          <% if goal_progress == 0 %>
            <%= image_tag("redProgress3Med.png", :alt => "Not Started") %>
          <% elsif goal_progress == 1 %>
            <%= image_tag("yellowProgress3Med.png", :alt => "Needs Work") %>
          <% else goal_progress == 2 %>
            <%= image_tag("greenProgress3Med.png", :alt => "On Track") %>
          <% end %>   
        </div>
        <div class="btn-group">         
          <%= link_to 'Habit', new_habit_from_goal_path(:goal_id => @goal), class: "glyphicon glyphicon-plus" %>
          <%= link_to 'Task', new_task_path, class: "glyphicon glyphicon-plus" %>           
        </div>        
      </div>       
      <table class="table table-condensed table-hover">
        <col width="10">
        <col>
        <col width="60">
        <col width="40">                      
        <tbody>        
          <% @tasks = Task.where(:goal_id => goal).order("due_date ASC") %>
            <% @tasks.each do |task| %>
            <tr>
              <td>
                  <% if task.progress == 0 %>
                    <%= image_tag("redProgress3.png", :alt => "Not Started") %>
                  <% elsif task.progress == 1 %>
                    <%= image_tag("yellowProgress3.png", :alt => "Needs Work") %>
                  <% elsif task.progress == 2 %>
                    <%= image_tag("greenProgress3.png", :alt => "On Track") %>
                  <% else %>
                    <span class="glyphicon glyphicon-ok"></span>
                  <% end %>   
              </td>       
              <td>
                <%= link_to edit_taskfromgoals_path(:id => task.id) do %>
                  <% if task.progress == 3 %>
                    <div class="strikeout"><%= task.description %></div>
                  <% else %>
                    <%= task.description %>
                  <% end %>
                <% end %>
              </td>
              <td>
                  <% if task.progress == 3 %>
                    <div class ="green daysleft">Done!</div>
                  <% elsif  ((DateTime.parse(task.due_date.strftime("%A %B %d"))).mjd - DateTime.now.mjd) < 0 %>
                    <div class ="red daysleft">Due</div>
                  <% elsif  ((DateTime.parse(task.due_date.strftime("%A %B %d"))).mjd - DateTime.now.mjd) == 0 %>
                    <div class ="red daysleft">Today</div>
                  <% elsif  ((DateTime.parse(task.due_date.strftime("%A %B %d"))).mjd - DateTime.now.mjd) == 1 %>
                    <div class ="amber daysleft">Tomorrow</div>
                  <% else %><div class ="daysleft">
                  <%= ((DateTime.parse(task.due_date.strftime("%A %B %d"))).mjd - DateTime.now.mjd) %></div>
                  <% end %>
              </td>                            
              <td>
                <%= link_to task, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <span class="glyphicon glyphicon-trash"></span>
                <% end %>
              </td> 
            </tr>
            <% end %>


          <% @habits = Habit.where(:goal_id => goal.id)%>
            <% @habits.each do |habit| %>
            <tr>
              <td>
                  <% if habit.done == true %>
                    <%= link_to ''.html_safe, {:action => 'toggle_action_from_goals', :id =>habit.id, :controller=>"habits"}, class: 'glyphicon glyphicon-ok' %>
                  <% else %>
                    <%= link_to ''.html_safe, {:action => 'toggle_action_from_goals', :id =>habit.id, :controller=>"habits"}, class: 'glyphicon glyphicon-remove' %>
                  <% end %>   
              </td>         
              <td>
                <%= link_to edit_habitfromgoals_path(:id => habit.id) do %>
                  <%= habit.description %>
                <% end %>
              </td>
              <td>
                <% if habit.done == true %>
                  <% if habit.interval == "Daily" %>
                    <div class ="green daysleft">Done!</div>
                  <% end %>
                <% else %>
                  <div class ="daysleft">1</div>
                <% end %>
              </td>
              <td>
                <%= link_to habit, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <span class="glyphicon glyphicon-trash"></span>
                <% end %>
              </td> 
            </tr>
            <% end %>
          <% end %>
      </tbody>
    </table>
    </div> 
  <% end %>
<% end %>
