<h1>I want to...</h1>
<div>
    <%= link_to "New Goal", new_goal_path, class: "btn btn-primary btn-med" %>
</div>
<br>

<% if user_signed_in? %>

<% @goals.each do |goal| %>
  <% if goal.user == current_user %>
    <div class="panel panel-primary">
      <div class="panel-heading">      
                <% if goal.progress == 0 %>
                  <%= image_tag("redProgress3.png", :alt => "Not Started") %>
                <% elsif goal.progress == 1 %>
                  <%= image_tag("yellowProgress3.png", :alt => "Needs Work") %>
                <% elsif goal.progress == 2 %>
                  <%= image_tag("greenProgress3.png", :alt => "On Track") %>
                <% else %>
                  <span class="glyphicon glyphicon-ok"></span>                                       
                <% end %>  


         Goal: <%= link_to edit_goal_path(goal) do %>
                <%= goal.description %>
              <% end %>

              <div class="btn-group pull-right">
                <%= link_to goal, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <span class="glyphicon glyphicon-trash white"></span>
                <% end %>  
              </div>

            
      </div>
      <table class="table table-condensed table-hover">
        <col width="20">
        <col width="50">
        <col>
        <col width="60">
        <col width="40">
        <tbody>        
          <% @tasks = Task.where(:goal_id => goal.id)%>
            <% @tasks.each do |task| %>
            <tr>
              <td>
                  <% if task.progress == 0 %>
                    <%= image_tag("redProgress3.png", :alt => "Not Started") %>
                  <% elsif task.progress == 1 %>
                    <%= image_tag("yellowProgress3.png", :alt => "Needs Work") %>
                  <% elsif task.progress == 2 %>
                    <%= image_tag("greenProgress3.png", :alt => "On Track") %>
                  <% else %>
                    <span class="glyphicon glyphicon-ok"></span>                                       
                  <% end %>   
              </td>
              <td>Task:  
              </td>         
              <td>
                <%= link_to edit_task_path(task) do %>
                  <% if task.progress == 3 %>
                    <div class="strikeout"><%= task.description %></div>
                  <% else %>
                    <%= task.description %>
                  <% end %>
                <% end %>
              </td>
              <td>
                  <% if task.progress == 3 %>
                    Done!
                  <% elsif  ((DateTime.parse(task.dueDate.strftime("%A %B %d"))).mjd - DateTime.now.mjd) < 0 %>
                    Overdue
                  <% elsif  ((DateTime.parse(task.dueDate.strftime("%A %B %d"))).mjd - DateTime.now.mjd) == 0 %>
                    Today
                  <% elsif  ((DateTime.parse(task.dueDate.strftime("%A %B %d"))).mjd - DateTime.now.mjd) == 1 %>
                    Tomorrow
                  <% else %>
                  <%= ((DateTime.parse(task.dueDate.strftime("%A %B %d"))).mjd - DateTime.now.mjd) %>
                  <% end %>
              </td>                            
              <td>
                <%= link_to task, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <span class="glyphicon glyphicon-trash"></span>
                <% end %>
              </td> 
            </tr>
            <% end %>


          <% @habits = Habit.where(:goal_id => goal.id)%>
            <% @habits.each do |habit| %>
            <tr>
              <td>
                  <% if habit.done == true %>
                    <span class="glyphicon glyphicon-ok"></span>  
                  <% else %>
                    <span class="glyphicon glyphicon-remove"></span>                       
                  <% end %>
              </td> 
              <td><%= habit.interval %>Habit: </td>           
              <td>
                <%= link_to edit_habit_path(habit) do %>
                  <%= habit.description %>
                <% end %>
              </td>
              <td></td>
              <td>
                <%= link_to habit, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <span class="glyphicon glyphicon-trash"></span>
                <% end %>
              </td> 
            </tr>
            <% end %>
          <% end %>
      </tbody>
    </table>
  </div>
  <% end %>
<% end %>

