<h1>I want to...</h1>



<br>

<% if user_signed_in? %>
<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div id="test" class="panel-heading">Goals
      <%= link_to '', new_goal_path, class: "glyphicon glyphicon-plus" %>
  </div>
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>Description</th>
        <th>Progress</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @goals.each do |goal| %>
        <% if goal.user == current_user %>
          <tr>
            <td>
              <%= link_to edit_goal_path(goal) do %>
              <%= goal.description %>
              <% end %>
            </td>
            <td><%= goal.progress %></td>             
            <td>
              <%= link_to goal, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              <% end %>
            </td> 
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>



<% end %>

