<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @goal.description %>
</p>

<p>
  <strong>Progress:</strong>
  <%= @goal.progress %>
</p>

<p>
    <%= link_to "Edit", edit_goal_path(@goal), class: "btn btn-primary btn-lg" %>
    <%= link_to "Back", goals_path, class: "btn btn-primary btn-lg" %>    
</p>
