<h1>I should...</h1>



<br>
<% if user_signed_in? %>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Daily Habits
      <%= link_to '', new_habit_path, class: "glyphicon glyphicon-plus" %>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Description</th>
        <th>Done</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @habits.each do |habit| %>
        <% if habit.user == current_user %>
          <% if habit.interval == 'Daily' %>
            <tr>
              <td><%= habit.description %></td>
              <td>
                <%= link_to edit_habit_path(habit) do %>
                  <% if habit.done == true %>
                    <span class="glyphicon glyphicon-ok"></span>
                  <% else %>
                    <span class="glyphicon glyphicon-remove"></span>                
                  <% end %>  
                <% end %>          
                </td>
              <td>
                <%= link_to habit, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <span class="glyphicon glyphicon-trash"></span>
                <% end %>
              </td> 
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

  <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Weekly Habits</div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Description</th>
        <th>Done</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @habits.each do |habit| %>
        <% if goal.user == current_user %>
        <% if habit.interval == 'Weekly' %>        
          <tr>
            <td><%= habit.description %></td>
            <td>
              <%= link_to edit_habit_path(habit) do %>
                <% if habit.done == true %>
                  <span class="glyphicon glyphicon-ok"></span>
                <% else %>
                  <span class="glyphicon glyphicon-remove"></span>                
                <% end %>  
              <% end %>          
            </td>
            <td>
              <%= link_to habit, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              <% end %>
            </td> 
          </tr>
        <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

  <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Monthly Habits</div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Description</th>
        <th>Done</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @habits.each do |habit| %>
      <% if goal.user == current_user %>
        <% if habit.interval == 'Monthly' %>
          <tr>
            <td><%= habit.description %></td>
            <td>
              <%= link_to edit_habit_path(habit) do %>
                <% if habit.done == true %>
                  <span class="glyphicon glyphicon-ok"></span>
                <% else %>
                  <span class="glyphicon glyphicon-remove"></span>                
                <% end %>  
              <% end %>          
            </td>
            <td>
              <%= link_to habit, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              <% end %>
            </td> 
          </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<% end %>


