<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @habit.description %>
</p>

<p>
  <strong>Done:</strong>
  <%= @habit.done %>
</p>

<p>
  <strong>Interval:</strong>
  <%= @habit.interval %>
</p>

<p>
    <%= link_to "Edit", edit_habit_path(@habit), class: "btn btn-primary btn-lg" %>
    <%= link_to "Back", habits_path, class: "btn btn-primary btn-lg" %>    
</p>

